.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2rem;
  margin: 0 auto;
  width: 45%;

  border: 1px solid var(--gray-lighter);
  border-radius: 10px;
}

form {
  display: flex;
  flex-flow: column wrap;
}

.form-logo {
  width: 5rem;
  align-self: center;
}

.form-container h1 {
  margin-bottom: 0;
}

form input {
  height: 3rem;
  margin: 0.75rem 0;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
}

.form-bottom-text {
  margin-top: 1rem;
  text-align: center;
}

.form-bottom-text a {
  color: black;
  font-size: small;
  text-decoration: none;
}

.form-bottom-text a:hover {
  text-decoration: underline;
}