:root {
  --primary-darker: #2cbd3d;
  --primary-dark: #38cd46;
  --primary: #5dd665;
  --primary-light: #7fde83;
  --primary-lighter: #a6e7a8;

  --secondary-darker: #4a88ba;
  --secondary-dark: #529bcd;
  --secondary: #59a9dc;
  --secondary-light: #62b5e2;
  --secondary-lighter: #72c2e7;

  --gray-lighter: #d2d2d2;
  --gray-light: #9d9d9d;
  --gray: #707070;

  --background: #f0f0f0;
}

* {
  font-family: 'Comic Sans MS';
  text-decoration: none;
}

a {
  color: var(--primary-darker);
}

/*
 * Header
 */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: white;
}

header a {
  color: black;
}

header a:hover {
  color: var(--primary-darker);
}

#logo {
  padding: 0 2ch;
}

header nav ul {
  display: flex;
  flex-flow: row wrap;
}

header li {
  padding: 0 2ch;
  list-style: none;
}

#login-button {
  padding: 0.2rem 0.8rem;
  background: var(--primary);
  border-radius: 5px;
  color: white;
}

#login-button:hover {
  background: var(--primary-darker);
}

/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
  background: var(--background);
}

.content {
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Footer
 */
