@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --background-accent-light: #eef4d2;
  --background-accent-dark: #e0e6c4;

  --background-neutral-light: #fcf9f2;
  --background-neutral-dark: #f1f1e9;

  --background-dark-accent-light: #30312c;
  --background-dark-accent-dark: #171c16;

  --accent-light: #f4fad6;
  --accent: #daeb7b;
  --accent-dark: #3f4b00;

  --accent-secondary: #3f4b00;
  --accent-secondary-dark: #3a655b; 

  --foreground-light: #43453a;
  --foreground: black; 

  --primary-darker: #688934;
  --primary-dark: #7c9c3c;
  --primary: #91b046;
  --primary-light: #a0c04e;
  --primary-lighter: #aec968;
  --primary-background: #f4f7e9;

  --secondary-dark: #817a6d;
  --secondary: #ac9c74;
  --secondary-light: #c3b279;
  --secondary-lighter: #d9c781;
  --secondary-background: #fdfaee;

  --gray-lighter: #d2d2d2;
  --gray-light: #9d9d9d;
  --gray: #707070;

  --rank-1: gold;
  --rank-2: silver;
  --rank-3: #cd7f32;
  --rank-4: #8a2be2;
  --rank-5: #00bfff;
}

* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

a {
  color: var(--primary-darker);
}

/*
 * Elements
 */
.button {
  padding: 0.7rem 0.8rem;
  border-radius: 19px;

  background: var(--accent);
  color: var(--foreground-light);

  transition: all 0.1s ease-out;
}

.button:hover {
  background: var(--accent-dark);
  color: var(--background-accent-dark);

  transition: all 0.1s ease-out;
}

.locked {
  background: var(--accent-dark);
  color: var(--background-neutral-light);
}

/*
 * Header
 */
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: var(--background-dark-accent-light);
}

header a {
  color: var(--background-accent-light);
}

header a:hover {
  color: var(--primary-darker);
}

#logo {
  padding: 0 2ch;
}

header nav ul {
  display: flex;
  flex-flow: row wrap;
}

header li {
  padding: 0 2ch;
  list-style: none;
}

#login-button {
  padding: 0.2rem 0.8rem;
  background: var(--primary);
  border-radius: 5px;
  color: white;
}

#login-button:hover {
  background: var(--primary-darker);
}

/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
  background: var(--background-neutral-light);
}

.content {
  max-width: 90ch;
  margin-left: auto;
  margin-right: auto;
}

/*
 * Footer
 */
