html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
}

.logo {
    width: 30px;
    height: 30px;
}

.nav-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}

.tab {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

.tab:hover {
    background-color: #fff;
}

.login {
    background-color: #4FB07B;
    color: white;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}

.login:hover {
    background-color: #2a972f;
}
a {
    text-decoration: none;
    color: black;
}
main {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaderboard {
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    text-align: left;
}

.leaderboard-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.rank {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.rank-1 {
    background-color: gold;
}

.rank-2 {
    background-color: silver;
}

.rank-3 {
    background-color: #cd7f32;
}

.rank-4 {
    background-color: #8a2be2;
}

.rank-5 {
    background-color: #00bfff;
}

.name {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 18px;
}

.points {
    font-size: 18px;
    font-weight: bold;
}
