.task-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    color: black;
  
    padding: 1.5rem;
    background-color: var(--background-accent-light);
    border-radius: 19px;
  }
  
  .task-item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  
    padding: 0.5rem 1rem;
  
    color: black;
    background-color: var(--background-accent-dark);
    border-radius: 15px;
  }
  
  .task-item p {
    color: black;
    margin: 0;
  }
  
  .task-name {
    width: 100%;
    font-weight: 500;
    color: var(--text);
  }
  
  .task-description {
    color: var(--text-low-contrast);
  }