.task-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  

  background: red;
}

.task-item p {
  margin: 0;
}

.task-name {
  width: 100%;
}