.task-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;

  padding: 1.5rem;
  background-color: var(--background-accent-light);
  border-radius: 19px;
}

.task-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 1rem;

  background-color: var(--background-accent-dark);
  border-radius: 15px;
}

.task-item p {
  margin: 0;
}

.task-name {
  width: 100%;
  font-weight: 500;
  color: var(--background-dark-accent-dark);
}

.task-description {
  color: var(--background-dark-accent-light);
}