.task-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem 1rem;
  background: white;
}

.task-item p {
  margin: 0;
}

.task-name {
  width: 100%;
}